
django==1.9
djangorestframework==3.6.3
djangorestframework-jwt
pygments
django-registration
django-allauth==0.32
django-rest-auth
jsonfield
django-after-response
django-bootstrap-form

django-websocket-redis
django-redis-sessions
django-custom-user

uwsgi
scrapy


mysqlclient