[mysqld]
bind-address = 0.0.0.0

#innodb_log_file_size  = 256M

###datadir=/var/lib/mysql
###socket=/var/lib/mysql/mysql.sock
###user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
###symbolic-links=0
###default-character-set=utf8

###skip-character-set-client-handshake

##character-set-server = utf8
##skip-character-set-client-handshake

###collation-server = utf8_general_ci
###init-connect = SET NAMES utf8

###max_connections = 100000
#default-character-set=utf8
skip-character-set-client-handshake
character-set-server=utf8
collation-server=utf8_general_ci
init-connect=SET NAMES utf8

[mysqld_safe]
###log-error=/var/log/mysqld.log
###pid-file=/var/run/mysqld/mysqld.pid
timezone = UTC

[client]
default-character-set=utf8
#password=password
#

[mysqldump]
quick
#max_allowed_packet=16M
default-character-set=utf8

[mysql]
#no-auto-rehash
default-character-set=utf8
